@import '../../App.scss';

.page__404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: $gray;

    .brewdog__logo{
        width: 90%;
        max-width: 350px;
        margin: 50px 0;
    }

    .error__msg {
        display: block;
        margin-bottom: 25px;
    }

    .logout__button {
        padding: 7px 15px;
        background-color: $gray;
        color: white;
        border: none;
    }
}