$gray: rgb(75, 75, 75);

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
	line-height: 1;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.centra {
  display: flex;
  align-items: center;
  justify-content: center!important;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* MIXINS */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}
